@using System.Web.Http.Description
@model Jda.WfmEssApi.Areas.HelpPage.Models.HelpPageApiModel

@{
  ApiDescription description = Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>

<div>
  <p>@description.Documentation</p>
 
  <h2>Request Information</h2>

  <h3>URI Parameters</h3>
  @Html.DisplayFor(m => m.UriParameters, "Parameters")

  <h3>Body Parameters</h3>

  @{
    var requestDescription = Model.RequestDocumentation;
    var requestResourceAvailableForDisplay = Model.RequestModelDescription != null;
    var requestResourceHasBody = Model.RequestBodyParameters != null;

    if (requestResourceAvailableForDisplay)
    {
      var requestLink = Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink",
        new { modelDescription = Model.RequestModelDescription });


      <p>@requestLink - @requestDescription</p>
    }
    else
    {
      <p>@requestDescription</p>
    }
 
    if (requestResourceAvailableForDisplay)
    {
      if (requestResourceHasBody)
      {
        @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
      }
    }
    else
    {
      <p>None.</p>
    }
  }

  @if (Model.SampleRequests.Count > 0)
  {
    <h3>Request Formats</h3>
    @Html.DisplayFor(m => m.SampleRequests, "Samples")
  }
 
  <h2>Response Information</h2>

  <h3>Resource Description</h3>

  @{
    var resourceAvailableForDisplay = Model.ResourceDescription != null;
    if (resourceAvailableForDisplay)
    {
      var resourceLink = Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink",
        new {modelDescription = Model.ResourceDescription});
      var responseDescription = description.ResponseDescription.Documentation;

      <p>@resourceLink - @responseDescription</p>
    }
  }

  @{
    var responseResourceHasBody = Model.ResourceProperties != null;
    if (responseResourceHasBody)
    {
      @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
    }
    else
    {
      <p>None.</p>
    }
  }

  @if (Model.SampleResponses.Count > 0)
  {
    <h3>Response Formats</h3>
    @Html.DisplayFor(m => m.SampleResponses, "Samples")
  }

  <h3>Response Codes</h3>

  @{
    var errorResponsesIsNotNull = Model.ErrorResponses != null;
    if (errorResponsesIsNotNull)
    {
      @Html.DisplayFor(m => m.ErrorResponses, "ErrorResponses")
    }
    else
    {
      <p>None.</p>
    }
  }

  @{
    var ExtraDocumentationExists = !string.IsNullOrEmpty(Model.ExtraDocumentationViewName);
    if (ExtraDocumentationExists)
    {
      @Html.DisplayFor(m => m.ExtraDocumentationViewNotFoundErrorMessage, Model.ExtraDocumentationViewName)
    }
  }

</div>